body{
    overflow-x: hidden; 
    font-family: monospace"DIN Next LT Pro",Arial,sans-serif;
    /*
    Achei no :
    https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
    */
}

.nav_menu{
   background-color: #e7e7db;
}

.nav_img{
height: 40px !important;
}

.nav_img_background{
    clip: rect(0,auto,1005px,0);
    position: absolute;
    bottom: 0;
    z-index: -99999999;
}
._categoria{
    display: -webkit-inline-box;
    list-style-type: none;
}

.cateul{
    background: #9e0b0f;
    background-image: linear-gradient(90deg,#9e0b0f,#ce1016);
    color: #fff;
    padding: 10px;
    width: auto;
    float: left;
    /* border: 1px solid #fff; */
    margin: 5px;

}

.temp{
    z-index: 9999;
    padding: 15px;
    position: absolute;
    margin-top: 0;
    color: #fff;
    font-size: 22px;
    
}

.temp>b>p{

    font-size: 25px;
   
}

.temp>b{

    font-size: 50px;
    text-align: justify;
    width: 50%;
    
}

.gradecomojogar{

    background: #e0e1d9;
    height: 700px;
}

footer{

    background-color: #000;
    color: #fff;

}